version: "3.9"

services:
  node-app:
    build: .
    depends_on:
      - postgres

  postgres:
    image: postgres
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: /*Your Password*/
      POSTGRES_DB: /*Your Database*/
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql
  redis:
    image: redis
    container_name: redis-app
    ports:
      - 6379:6379
  nginx:
    image: nginx:alpine
    ports:
      - 80:80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf

    container_name: nginx-app

volumes:
  pgdata:
